<form>
  <select name="choice" onchange="makeTable(this.value)">
    <option value="">Please select</option>
    <%= @paths.each do |section| %>
    <option value="<%= section %>"><%= section %> </option>
    <% end %>
  </select>
</form>

<div id="everything"></div>

  <!-- dynamically populate Table Rows -->
